[Unit]
Description=Burst Reference Software written in Java
After=network.target

[Service]
ExecStart=/usr/bin/burstcoin

[Install]
WantedBy=multi-user.target

